* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: Bai Jamjuree, sans-serif;
transition:0.4s;
}
/* Start header */
@media (min-width: 426px) {
  header {
    background-image: url(../images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
  }
}
@media (max-width: 426px) {
  header {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
button{
cursor:pointer;
}
header main {
  width: 50%;
  margin: auto;
  text-align: center;
}
@media (max-width: 426px) {
  header main {
    width: 90%;
  }
}
header main img {
  margin: 75px auto 50px;
  width: 75px;
}
header main h3 {
  margin-top: 10px;
  font-size: 40px;
  color: #5c6266;
}
@media (max-width: 426px) {
  header main h3 {
    font-size: 35px;
  }
}
header main p {
  margin: 20px 0;
  font-size: 18px;
  color: #a5a5aa;
}
@media (max-width: 426px) {
  header main p {
    font-size: 16px;
  }
}
header main div {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  gap: 5%;
  margin: 10px auto;
  width: 70%;
}
@media (max-width: 769px) {
  header main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header main div button {
    width: 70%;
    align-items: center;
  }
  header main div button:last-of-type {
    margin-top: 5px;
  }
  header main div button:first-of-type {
    margin-bottom: 5px;
  }
}
header main button {
  /* margin: 10px; */
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  color: #fff;
}
header main button:first-of-type {
  background-color: #28baa2;
  box-shadow: 3px 3px 15px #28baa279;
}
header main button:first-of-type:hover {
  background-color: #5dccbb;
}
header main button:last-of-type {
  background-color: #6376fe;
  box-shadow: 3px 3px 15px #6375fe88;
}
header main button:last-of-type:hover {
  background-color: #8896ff;
}
/* End header */
/*Start Main heading */
.main-heading {
  width: 50%;
  margin: 70px auto;
  text-align: center;
}
@media (max-width: 426px) {
  .main-heading {
    width: 80%;
  }
}
.main-heading H4 {
  margin: 15px 0;
  font-size: 30px;
  color: #5c6266;
}
@media (max-width: 426px) {
  .main-heading h4 {
    font-size: 25px;
  }
}
.main-heading p {
  margin: 20px 0;
  font-size: 15px;
  color: #a5a5aac7;
  font-weight: 400;
}
@media (max-width: 426px) {
  .main-heading {
    font-size: 12px;
  }
}
.main-heading > img {
  width: 100%;
}
/* End main heading */
main.Properties {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 426px) {
  main.Properties {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 769px) {
  main.Properties {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  main.Properties img {
    max-width: 100%;
    margin: 0;
  }
}
@media (min-width: 769px) {
  main.Properties section img {
    margin-left: -45px;
  }
}
@media (max-width: 426px) {
  main.Properties section {
    width: 100%;
    margin: 0 auto;
  }
  main.Properties section img {
    width: 100%;
    margin: 0 auto;
  }
}
.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 75px 70px 80px 70px;
  row-gap: 30px;
}
@media (max-width: 426px) {
  .side {
    text-align: center;
    padding: 20px 10px;
  }
}
.side div h5 {
  margin: 15px 0;
  font-size: 27px;
  color: #5c6266;
}
.side div p {
  font-size: 13px;
  color: #a5a5aac7;
  font-weight: 400;
  line-height: 1.4;
}
/* Start landing */
.landing {
  width: 80%;
  margin: 65px auto;
}
.landing section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  text-align: center;
}
@media (max-width: 769px) {
  .landing section {
    flex-direction: column;
  }
  .landing section div {
    flex-basis: 100%;
    margin: 40px 0;
  }
}
.landing section:first-of-type {
  margin: 20px 0 70px;
}
.landing section:first-of-type h6 {
  margin: 20px 0;
  font-size: 23px;
  color: #5c6266;
}
.landing section:first-of-type > div {
  flex-basis: calc(96% / 3);
}
.landing section:first-of-type > div img {
  width: 35px;
}
.landing section:first-of-type p {
  font-size: 14px;
  color: #a5a5aac7;
  font-weight: 400;
  line-height: 1.4;
}
.landing section:last-of-type {
  margin: 150px 0;
  text-align: center;
}
.landing section:last-of-type img {
  width: 120px;
}
@media (max-width: 768px) {
  .landing section:last-of-type img {
    width: 150px;
  }
}
.landing section:last-of-type > div {
  flex-basis: 20%;
}
/* End landing */
.button {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  gap: 5%;
  margin: 10px auto;
  width: 70%;
}
.button button {
  margin: 40px 0;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  color: #fff;
}
.button button:first-of-type {
  background-color: #28baa2;
  box-shadow: 3px 3px 15px #28baa279;
}
.button button:first-of-type:hover {
  background-color: #5dccbb;
}
.button button:last-of-type {
  background-color: #6376fe;
  box-shadow: 3px 3px 15px #6375fe88;
}
.button button:last-of-type:hover {
  background-color: #8896ff;
}
@media (max-width: 769px) {
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .button button {
    width: 70%;
    align-items: center;
  }
  .button button:last-of-type {
    margin-top: 5px;
  }
  .button button:first-of-type {
    margin-bottom: 5px;
  }
}
footer.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 12% 12% 12% 30%;
  background-color: #f5f6f8;
}
@media (max-width: 768px) {
  footer.footer {
    grid-template-columns: 100%;
    text-align: center;
  }
}
.footer div {
  margin: 20px auto;
}
.footer p:nth-child(2) {
  padding-top: 20px;
}
.footer p {
  font-size: 14px;
  color: #777;
  font-weight: 400;
  line-height: 1.4;
cursor:pointer;
}
.footer p:hover{
    text-decoration: underline;
}
footer.footer div:nth-child(1),
footer.footer div:nth-child(5) {
  text-align: center;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.icons img {
  width: 20px;
cursor:pointer;
}
footer.footer .logo {
  width: 60px;
}
footer.code a {
  text-decoration: none;
  color: tomato;
}

.paminos {
  color: tomato;
  font-weight: 600;
}

footer.code {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: darkgrey;
  margin-top: 44px;
}
